
body {
    color: white;

    background-image: url("/app/src/sea.png");
    background-repeat: repeat;
    background-size: 100%;
    background-position: center;
    object-fit: cover;
    text-align: center;
}


#container {
    width: 80%;
    margin: auto;
    text-align: center;
}


footer {
    text-align: center;
}

#gif {
    display: flex;
    width: 50%;
    margin: auto;
    object-fit: cover;

}

.tableauViz {
    display: flex;
    flex-direction: column;
    margin: auto;
    object-fit: cover;

}