
body {
    color: white;

    background-image: url("/app/src/sea.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}


#container {
    width: 80%;
    margin: auto;
    text-align: center;
}


footer {
    text-align: center;
}

.tableauViz {
    display: flex;
    flex-direction: column;
    height: 400px;
    margin: auto;
}